<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <title>Chatti</title>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/styles.css">

  </head>

  <body id = "stayVisible">

		<script type="text/template" class="template">

			<div class="display-command-info">
				<img src="<%- m.avatar_url %>" class="avatar">
				<ul>
					<li class="name"> <%- m.name %> </li>
					<li class="public-repos">
						Public Repos: <%- m.public_repos %>
					</li>
					<li class="followers">
						Followers:  <%- m.followers %>
					</li>
				</ul>
			</div>

		</script>

		<h1> Chatti </h1>

		<div class = "full-container">
			<div class="div-result">
				<div id="talk">
					<ul class="list-all">
					 <!--all content created on the fly-->
					 <ul>
				</div>
			</div>

			<div class = "text-guide">
				<h2>Commands</h2>
					<ul>
						<li>@gh Github Pages</li>
						<li>@temp Temperature</li>
						<li>@spanish Spanish translation</li>
						<li>@french French translation</li>
					</ul>
			</div>
		</div>

		<div class = "textarea">
			<h1 class = "text">Enter your command below</h1>

    	<form class = "enterfield">
      	<input type="text" class="enter-command" placeholder="  type here"></input>
    		<input type="submit" value="submit" class="submit-button"></input>
    	</form>
		</div>



  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type=text/javascript src="bower_components/underscore/underscore-min.js"></script>
	<script type=text/javascript src="bower_components/backbone/backbone-min.js"></script>
	<script type=text/javascript src="js/chatti.js"></script>
	<script type=text/javascript src="js/append.js"></script>
	<script type=text/javascript src="js/z-init.js"></script>



</html>
